/* 
Styles CSS à ajouter au fichier principal
 */

.success {
    background-color: greenyellow;
    text-align: center;
    font-weight: bold;
}

.warning {
    background-color: red;
    text-align: center;
    font-weight: bold;
    color:white;
}
