body,html {
    color: rgb(50, 49, 49);
}
header nav {
    background-color: #025C64;
}
header .topcompteur {
    background-color: #EECB5E;
    font-size: 2rem;
    padding: 10px;
}
h2{
    color: #8CD50A;
}
td,
th,
tr,
table {
    border: 1px solid rgb(50, 49, 49);
    border-collapse: collapse;
}
table {
    width: 100%;
}
th,
td {
    text-align: left;
    padding: .4rem .6rem;
}
th {
    text-align: center;
}
footer {
    background-color: #025C64;
}